
h1 {
  font-family: fantasy, copperplate;
  font-weight: 20px;
  text-align: center;
  color: blue;
  background-color: #efefef;
  padding: 10px
}
h2 {
  text-align: center;
}
p1 {

  }
li{
  display: inline;
  padding: 10px;
  background-color: #efefef;
  : center;
}
div{
  border: 1px solid #665544;
}
.column1of2{
  float: left;
  width: 1200px;
  margin: 10px;
}
.column2of2{
  float: right;
  width: 400px;
  margin: 40px;
}
.footer{
  display:hidden;
}
