
h1 {
  font-family: fantasy, copperplate;
  font-weight: 20px;
  text-align: center;
  color: blue;
  background-color: #efefef;
  padding: 10px
}
h2 {
  text-align: center;
}
ol {
text-align: center;
background-color: blue;
display: inline;
padding: 10px;
}
.subscribe{
  background-color: #efefef;
  text-align: right;
}

.column1of2{
  float: left;
  width: 1200px;
  margin: 10px;
}
.column2of2{
  float: right;
  width: 400px;
  margin: 40px;
}
.footer{
  display:hidden;
}
