body{
    color:#666666;
    background-color:#f9f8f6;
    background-image: url("image_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    font-family:Georgia, times, serif;
    line-height: 1.4em;
    margin: 0px;
}

#row{
    width:100%;
}

.wrapper{
    width: 1800px;
    margin: 40px auto 2000px auto;
    border: 2px solid #000000;
    background-color: #ffffff;
}

header img {
    width:70px;
    height:100%;
    margin-left:100px
}

h1{
    font-size:1vw;
    width:100%;
    text-align:center;
}

nav, footer{
    
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;
}

nav ul{
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li{
    display: inline;
    padding:10px;
}

nav li a {
    color:#ffffff;
}
nav li a:hover, nav li a.current{
    color:#000000;
}

section.company{
    float: left;
    width: 80%;
    border-right: 1px solid #eeeeee;
    margin-left: 20px;
}

article{
    clear: both;
    overflow: auto;
    width: 100%;
}

figure{
    float: left;
    width: 290px;
    height: 220px;
    padding: 20px;
    margin: 20px;
    border: 2px solid #eeeeee;
}

figure img{
    width: 290px;
    height:200px;
}
figcaption{
    font-size: 90%;
    text-align: center;
}

aside{
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}

aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #efefef;
}

aside section a:hover{
    color: #985d6a;
    background-color: #efefef;
}

a{
    color: #d62b2b;
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: normal;
}

h3{
    margin: 0px 0px 10px 0px;
    color: #de6581;
}

aside h2{
    padding: 30px 0px 10px 0px;
    color: #d62b2b;
}

footer{
    font-size: 80%;
    padding: 7px 0px 0px 20px;
}



/* Style the form element with a border around it */
form {
    border: 4px solid #f1f1f1;
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 800px){
    section.company,
    aside{
        width:100%;
    }
  }
